{# Top Header Component #}
<div class="header-top">
    <div class="container">
        <div class="header-top-content">
            {# Language & Currency Switcher #}
            <div class="header-top-left">
                <salla-localization-selector></salla-localization-selector>
            </div>
            
            {# User Menu #}
            <div class="header-top-right">
                <salla-user-menu></salla-user-menu>
            </div>
        </div>
    </div>
</div>


